<%= form_with model: [@event, comment], class: 'pt-3 border-top my-2' do |f| %>
    <%= render partial: 'partials/form_errors', locals: { model: comment } %>
    <% unless user_signed_in? %>
      <div class="form-group mb-2">
        <%= f.label :user_name %>
        <%= f.text_field :user_name, class: 'form-control shadow-sm' %>
      </div>
    <% end %>

     <div class="form-group mb-2">
      <%= f.label t('text.message'), class: 'mb-1 fs-5' %>
      <%= f.text_area :body, class: 'form-control shadow-sm border-secondary' %>
    </div>

     <div class="form-group mb-2">
      <%= f.submit t('buttons.send'), class: 'btn btn-primary shadow-sm rounded-pill float-end' %>
    </div>
<% end %>