<div class="header">
  <div class="container">
    <div class="navbar navbar-expand-sm navbar-light bg-light rounded-bottom shadow-sm bg-gradient">
      <div class="container-fluid">
        <%= render 'partials/language' %>
        <%# Для вывода названия приложения используем хелпер I18n.t %>
        <%= link_to t('app.name'), root_path, class: 'btn btn-outline-primary  rounded-pill fw-light' %>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
            <% if user_signed_in? %>
              <li><%= link_to t('buttons.profile'), current_user, class: 'btn btn-outline-primary rounded-pill fw-light' %></li>
              <li><%= link_to t('buttons.log_out'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary rounded-pill fw-light' %></li>
            <% else %>
              <li class="nav-item"><%= link_to t('buttons.sign_in'), new_user_session_path, class: 'btn btn-outline-primary rounded-pill fw-light' %></li>
              <li class="nav-item"><%= link_to t('buttons.sign_up'), new_user_registration_path, class: 'btn btn-outline-primary rounded-pill fw-light' %></li>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
