<header class="header-nav">
	<div class="container">
		<nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<ul class="nav col-12 col-lg-auto mb-2 mb-md-1">
				<li class="dropdown">
					<%= link_to '#', class: 'nav-link px-2 dropdown-toggle text-white',
										data: {"bs-toggle": 'dropdown'} do %>
							<%= tag.span '', class: "famfamfam-flag-#{language_bar}" %>
						<%= t I18n.locale %>
					<% end %>

			    <ul class="dropdown-menu">
						<li>
							<hr class="dropdown-divider">
						</li>

						<% I18n.available_locales.each do |locale| %>
							<li>
								<% if I18n.locale == locale %>
									<%# <%= image_tag 'country-4x3/ru.svg', width: 34, alt: 'RU', class: "menu_icon" %>
									<%= tag.span t(locale), class: 'dropdown-item' %>
								<% else %>
									<%# <%= image_tag 'country-4x3/england.svg', width: 34, alt: 'EN', class: "menu_icon"%>
									<%= link_to t(locale), url_for(params_plus(locale: locale)),
											class: 'dropdown-item' %>
								<% end %>
								<li>
									<hr class="dropdown-divider">
								</li>
					    </li>
				    <% end %>
			    </ul>
		    </li>
		  </ul>
	  </nav>
	</div>
</header>

<div class="header">
	<div class="container">

   <div class="navbar navbar-expand-sm navbar-light bg-light rounded-bottom shadow-sm bg-gradient">
      <div class="container-fluid">
        <%# Для вывода названия приложения используем хелпер I18n.t %>
        <%= link_to t('app.name'), root_path, class: 'btn btn-outline-primary  rounded-pill fw-light' %>
		</div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
			  <div class="dropdown">
					<% if user_signed_in? %>
					<div class="dropdown">
								<li><%= link_to t('buttons.profile'), current_user, class: 'btn btn-outline-primary rounded-pill fw-light' %></li>
								<li><%= link_to t('buttons.log_out'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary rounded-pill fw-light' %></li>
						<% else %>
								<li class="nav-item"><%= link_to t('buttons.sign_in'), new_user_session_path, class: 'btn btn-outline-primary rounded-pill fw-light' %></li>
								<li class="nav-item"><%= link_to t('buttons.sign_up'), new_user_registration_path, class: 'btn btn-outline-primary rounded-pill fw-light' %></li>
						<% end %>
					</div>
				</div>
			</ul>
    </div>
  </div>
</div>

